page-reward {
  .circle-around {
      margin:0;
      padding: 0;
      height: 100px; 
      width: 200px; 
     border: 5px solid red;
     border-radius: 60%;
     box-shadow: 0 0 5px gray;
     display: inline-block;

  }
  p {
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color:green;
  }

  ion-card-content {
      text-align: center;
  }
}