<ion-header>
  <ion-toolbar>
    <ion-title>
      Comments for {{eventName}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        X
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item text-wrap *ngFor="let comment of comments">
      <ion-avatar item-start>
        <img src="{{comment.avatar}}">
      </ion-avatar>
      <h2>{{comment.commenterName}}</h2>
      <p>{{comment.comment}}</p>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <form col-12 #f="ngForm">
      <ion-list>
        <ion-item class="input-form">
          <ion-input placeholder="Write a comment..." ngModel required name="comment"></ion-input>
          <ion-icon *ngIf="f.value.comment" item-right name="md-send" (click)="sendComment(f)"></ion-icon>
        </ion-item>
      </ion-list>
    </form>
  </ion-toolbar>
</ion-footer>